<section>
    <h1>Impressum</h1>

    <p><strong>Angaben gemäß § 5 TMG:</strong></p>
    <p>
        Sebastian Jegorow<br>
        Freiligrathstr. 55<br>
        44791 Bochum
    </p>

    <p>
        <strong>Kontakt:</strong><br>
        Telefon: 0176/23767337<br>
        E-Mail: <a href="mailto:sebastian@beispiel.de">kontakt@sebastianjegorow.de</a>
    </p>

    <p>
        <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong><br>
        Sebastian Jegorow<br>
        Freiligrathstr. 55<br>
        44791 Bochum
    </p>

    <h2>Haftungsausschluss</h2>
    <p>
        Diese Webseite speichert keine personenbezogenen Daten. Es kommen keine Cookies, Tracker oder Analysewerkzeuge zum Einsatz.
    </p>

    <h2>Haftung für Inhalte</h2>
    <p>
        Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten verantwortlich. Eine Verpflichtung zur Überwachung übermittelter oder gespeicherter fremder Informationen besteht nicht (§§ 8–10 TMG).
    </p>

    <h2>Urheberrecht</h2>
    <p>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke unterliegen dem deutschen Urheberrecht. Eine Vervielfältigung, Bearbeitung oder Verbreitung außerhalb der Grenzen des Urheberrechts bedarf der schriftlichen Zustimmung des jeweiligen Autors.
    </p>
</section>
