@model TiaTeresa.Models.Ort

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ort</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeschreibungSpanisch" class="control-label"></label>
                <input asp-for="BeschreibungSpanisch" class="form-control" />
                <span asp-validation-for="BeschreibungSpanisch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeschreibungDeutsch" class="control-label"></label>
                <input asp-for="BeschreibungDeutsch" class="form-control" />
                <span asp-validation-for="BeschreibungDeutsch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bild" class="control-label"></label>
                <input asp-for="Bild" class="form-control" />
                <span asp-validation-for="Bild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BildCopyright" class="control-label"></label>
                <input asp-for="BildCopyright" class="form-control" />
                <span asp-validation-for="BildCopyright" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lon" class="control-label"></label>
                <input asp-for="lon" class="form-control" />
                <span asp-validation-for="lon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lat" class="control-label"></label>
                <input asp-for="lat" class="form-control" />
                <span asp-validation-for="lat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
