@model TiaTeresa.Models.Geschichte

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Geschichte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TitelSpanisch" class="control-label"></label>
                <input asp-for="TitelSpanisch" class="form-control" />
                <span asp-validation-for="TitelSpanisch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitelDeutsch" class="control-label"></label>
                <input asp-for="TitelDeutsch" class="form-control" />
                <span asp-validation-for="TitelDeutsch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spanisch" class="control-label"></label>
                <input asp-for="Spanisch" class="form-control" />
                <span asp-validation-for="Spanisch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deutsch" class="control-label"></label>
                <input asp-for="Deutsch" class="form-control" />
                <span asp-validation-for="Deutsch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bild" class="control-label"></label>
                <input asp-for="Bild" class="form-control" />
                <span asp-validation-for="Bild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Audio" class="control-label"></label>
                <input asp-for="Audio" class="form-control" />
                <span asp-validation-for="Audio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Niveau" class="control-label"></label>
                <input asp-for="Niveau" class="form-control" />
                <span asp-validation-for="Niveau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
